@import url(reset.css);

:root {
    --background-transparent-color1: rgba(17, 17, 17, 0.6);
    --background-transparent-color2: rgba(59, 59, 59, 0.3);
    --background-transparent-color3: rgba(51, 51, 51, 0.3);

    --border-color-light1: rgba(255, 255, 255, 0.2);

    --font-color-white: #c9cacc;
    --font-color-orange: #cc7e57;
    --font-color-green: #57cc8a;
    --font-color-green: #92b7b7;
    --font-color-gray: #828384;

    --icon-color: #ffffff;
    --link-active: #cf361f;
}

body {
    background: url(@/assets/backround.webp);
    font-family: "Menlo", "Meslo LG", monospace;
    font-size: 14px;
}

#app {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
    color: var(--font-color-white)
}

a {
    color: var(--font-color-green);
}

hr {
    border: none;
    height: 1px;
    background-color: #fff3;
}

.title {
    font-size: 25px;
    color: var(--font-color-orange);
}

code {
    line-height: 20px;
}

i {
    color: var(--icon-color);
}
img {
    user-select: none;
}
