@import url(reset.css);

:root {
    --background-color1: #111;
    --background-color2: #222;
    --background-color3: #333;
    --background-color4: #666;

    --text-color1: #c9cacc;
    --text-color2: #57cc8a;
    --text-color3: #828384;
    --text-color4: #92b7b7;
    --text-color5: #f4f4f4;
    --text-color6: #cc7e57;

    --icon-color: #ffffff;
    --icon-color2: #c5c5c5;

    --link-active: #cf361f;
}

body {
    background: var(--background-color1);
    font-family: "Menlo", "Meslo LG", monospace;
    font-size: 14px;
}

#app {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2rem;
    background: var(--background-color1);
    color: var(--text-color1);
}

a {
    color: var(--text-color4);
    transition: color .35s;
}
a:hover {
    color: var(--text-color1);
}

hr {
    border: none;
    height: 1px;
    background-color: #fff3;
}

.title {
    font-size: 25px;
    color: var(--text-color6);
}

code {
    line-height: 20px;
}

i {
    color: var(--icon-color);
}
img {
    user-select: none;
}
